<h1>View Requests from Users to See If Your Question Was Already Asked!</h1>

<ul>
    {{#each record}}
    <li>{{this.firstName}}</li>
    <li>{{this.lastName}}</li>
    <li>{{this.phoneNumber}}</li>
    <li>{{this.email}}</li>
    <li>{{this.country}}</li>
    <li>{{this.otherCountry}}</li>
    {{/each}}
</ul>